<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Keeper</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="bg-indigo-600 text-white py-3">
        <ul class="flex justify-around">
            <li><a href="{{ url_for('main.categories')}}">Categories</a></li>
            <li><a href="{{ url_for('main.items')}}">Items</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
            <li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
        </ul>
    </nav>
    <section class="justify-center items-center flex h-[90vh]">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>