<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Keeper</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script>
      tailwind.config = {
        theme: {
          estend: {
            colors: {
              primary: "#3B82F6",
              secondary: "#10B981",
              accent: "#F59e0B",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-gray-100 font-sans">

    <nav>
      <div>
        <div>
          <div>
            <a href="{{url_for('app.index')}}">
              <svg class="h-8 w-8 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
              </svg>
              <span>Stock Keeper</span>
            </a>
          </div>
          <div>
            <div><a href="{{ url_for('app.get_categories')}}">Categories</a>
              <a href="{{ url_for('app.get_products')}}">Products</a>
              <a href="{{ url_for('app.transactions')}}">Transactions</a>
              <a href="{{ url_for('app.logout')}}">Logout</a>
              <a href="{{ url_for('app.login')}}">Login</a>
              <a href="{{ url_for('app.register')}}">Sign Up</a></div>
          </div>
          <div>
            <button>
              <span></span>
              <svg></svg>
              <svg></svg>
            </button>
          </div>
          <div>
            <div><a href=""></a><a href=""></a><a href=""></a><a href=""></a><a href=""></a><a href=""></a></div>
          </div>
        </div>
      </div>
    </nav>









    <!-- <nav
      class="bg-indigo-600 text-white shadow-lg px-10 py-3 flex justify-between"
    >
      <div>
        <a href="{{url_for('app.index')}}" class="block text-2xl font-bold"
          >Stock Keeper</a
        >
      </div>
      <ul class="hidden md:flex justify-around items-between">
        {% if "username" in session %}
        <li class="px-3 py-1 rounded-md hover:bg-indigo-500">
          <a href="{{ url_for('app.get_categories')}}">Categories</a>
        </li>
        <li class="px-3 py-1 rounded-md hover:bg-indigo-500">
          <a href="{{ url_for('app.get_products')}}">Products</a>
        </li>
        <li class="px-3 py-1 rounded-md hover:bg-indigo-500">
          <a href="{{ url_for('app.transactions')}}">Transactions</a>
        </li>
        <li
          class="px-3 py-1 rounded-md hover:bg-indigo-500 transition duration-200"
        >
          <a href="{{ url_for('app.logout')}}" id="logout-btn">Logout</a>
        </li>
        {% else %}
        <li
          class="px-3 py-1 rounded-md hover:bg-indigo-500 transition duration-200"
        >
          <a href="{{ url_for('app.login') }}">Login</a>
        </li>
        <li class="px-3 py-1 rounded-md hover:bg-indigo-500">
          <a href="{{ url_for('app.register') }}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
      <button class="md:hidden focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        
      </button>
    </nav> -->
    <!-- <section class="justify-center items-center flex h-[90vh]"> -->
    <section class="min-h-[90vh] px-10 py-4">
      {% with message = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
          {% for category, message in messages %}
            <div
              class="mb-4 p-4 rounded-lg {% if category == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %}"
            >
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div>{% block content %} {% endblock %}</div>
    </section>

    <script>
      logout_btn = document.getElementById("logout-btn");
      logout_btn.addEventListener("click", (e) => {
        e.preventDefault();
        const confirmed = confirm("Are you sure you want to logout?");
        if (confirmed) {
          window.location.href = "/logout/";
        }
      });

      const sticky_div = document.querySelector(".sticky_div");
      const product_heading = sticky_div.querySelector("h1");

      if (sticky_div) {
        window.addEventListener("scroll", () => {
        const rect = sticky_div.getBoundingClientRect();
        if (rect.top <= 20) {
          product_heading.style.visibility = "hidden";
        } else {
          product_heading.style.visibility = "visible";
        }
      });
      }
      
    </script>
  </body>
</html>
